* {
  box-sizing: border-box;
  background-color: #4b4959;
  color: #000000;
}

img {
  background: none;
  display: block;
  margin: auto;
}

.card {
  background-color: #7a788b;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5rem;
}

.card-body,
.border,
.label {
  background-color: #ad803d;
} 

.card-1, 
.input-1 {
  background-color: #ad803d;
}

.card-2, 
.card-body2  {
  background-color: #b03028;
  padding: 4px 4px;
  width: 40%;
  display: flex;

}

.navbar {
  background-color: #7a788b;
}

body {
  color: #404040;
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.label {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}

#geocoder-container > div {
min-width: 50%;
margin-left: 25%;
}

#map {
  height: 50vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  border: 1rem solid #AD803D;
  border-radius: 10px;
  
}

#reviews {
  margin-left: 37.5%;
  height: 20vh;

}

.btn {
  margin-left: 75%;
  background-color: #B03028;
  color: black;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(221, 224, 228, 0.6);
  transition: 150ms;
  transform: scale(1.03);
  color: white;
  border: 0;
}

